### [Документация](https://dev.mysql.com/doc/) по СУБД MySQL

In [ ]:
!pip install pymysql
# !pip install --upgrade SQLAlchemy
# !pip install mysql

In [1]:
import pymysql

In [2]:
dir(pymysql)

['BINARY',
 'Binary',
 'Connect',
 'Connection',
 'DATE',
 'DATETIME',
 'DBAPISet',
 'DataError',
 'DatabaseError',
 'Date',
 'DateFromTicks',
 'Error',
 'FIELD_TYPE',
 'IntegrityError',
 'InterfaceError',
 'InternalError',
 'MySQLError',
 'NULL',
 'NUMBER',
 'NotSupportedError',
 'OperationalError',
 'PY2',
 'ProgrammingError',
 'ROWID',
 'STRING',
 'TIME',
 'TIMESTAMP',
 'Time',
 'TimeFromTicks',
 'Timestamp',
 'TimestampFromTicks',
 'VERSION',
 'VERSION_STRING',
 'Warning',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__path__',
 '__spec__',
 '__version__',
 '_auth',
 '_compat',
 'apilevel',
 'charset',
 'connect',
 'connections',
 'constants',
 'converters',
 'cursors',
 'err',
 'escape_dict',
 'escape_sequence',
 'escape_string',
 'get_client_info',
 'install_as_MySQLdb',
 'optionfile',
 'paramstyle',
 'protocol',
 'sys',
 'thread_safe',
 'threadsafety',
 'times',
 'util',
 'version_info']

### `.connect()` - функция, которая создает подключение к БД с расширением `db` или `sqlite`. Если БД нет, то она создастся автоматически

In [8]:
# conn = sqlite3.connect('database_1.db')
db_conn = pymysql.connect(host="139.162.170.240",user="nordic",
                          passwd="password0",db="nordicDB")

### `.cursor()` - функция, которая создает курсор. Курсор - это специальный объект, который делает запросы и получает их результаты

In [9]:
cursor = db_conn.cursor()

### Типы данных, которые поддерживает MySQL:
    1. NULL (это в python None)
    2. INT  (это в python int)
    3. FLOAT (это в python float)
    4. TEXT (это в python str)
    5. VARCHAR (это некая "уменьшенная" str)
    6. BOOLEAN (это в python bool)
    
И еще несколько десятков разновидностей :)

### У нас в группе есть 4 студента

In [3]:
dct_1 = {
    'name':'Илья',
    'surname':'Петров',
    'age':21,
    'height':1.75
}

dct_2 = {
    'name':'Василий',
    'surname':'Пупкин',
    'age':20,
    'height':1.77
}

dct_3 = {
    'name':'Мария',
    'surname':'Петрова',
    'age':19,
    'height':1.61
}

dct_4 = {
    'name':'Анна',
    'surname':'Каренина',
    'age':30,
    'height': 1.67
}

In [4]:
lst = [dct_1, dct_2, dct_3, dct_4]

lst

[{'age': 21, 'height': 1.75, 'name': 'Илья', 'surname': 'Петров'},
 {'age': 20, 'height': 1.77, 'name': 'Василий', 'surname': 'Пупкин'},
 {'age': 19, 'height': 1.61, 'name': 'Мария', 'surname': 'Петрова'},
 {'age': 30, 'height': 1.67, 'name': 'Анна', 'surname': 'Каренина'}]

### `CREATE TABLE` - создание таблицы

CREATE TABLE [IF NOT EXIST] [schema_name].table_name (
    column_1 data_type PRIMARY KEY,
    column_2 data_type NOT NULL,
    column_3 data_type DEFAULT 0,
     table_constraint
) [WITHOUT ROWID];

In [5]:
query = """
    CREATE TABLE main (
        `ID` INT PRIMARY KEY AUTO_INCREMENT NOT NULL, 
        `name` TEXT, 
        `surname` TEXT, 
        `age` INT,
        `height` FLOAT
    ) 
"""

In [6]:
print(query)

    CREATE TABLE main (
        `ID` INT PRIMARY KEY AUTO_INCREMENT NOT NULL,
        `name` TEXT,
        `surname` TEXT,
        `age` INT,
        `height` FLOAT
    )

### `.execute(sql, parameters=None)` - метод курсора, выполняющий sql-запрос и передающий в запрос параметры parameters путем подстановок

In [10]:
cursor.execute(query)

0

### `.commit()` - метод, подтверждающий текущую тразакцию. Пока транзакция не подтверждена, изменения не видны на других подключениях к БД

In [11]:
db_conn.commit()

### Дважды нельзя создать таблицу с одним и тем же названием

In [12]:
cursor.execute(query)

InternalError: (1050, "Table 'main' already exists")

### `CREATE TABLE IF NOT EXIST` - создание таблицы, если она не существовала ранее

In [23]:
query = """
    CREATE TABLE IF NOT EXISTS main (
        `ID` INT PRIMARY KEY AUTO_INCREMENT NOT NULL, 
        `name` TEXT, 
        `surname` TEXT, 
        `age` INT,
        `height` FLOAT
    ) 
"""

### При этом не происходит ошибок

In [24]:
cursor.execute(query)

C:\ProgramData\Anaconda3\lib\site-packages\pymysql\cursors.py:170: Warning: (1050, "Table 'main' already exists")
  result = self._query(query)

0

### `INSERT INTO` - вставка данных в БД

INSERT INTO table1 (
 column1,
 column2 ,..)
VALUES
 (
 value1,
 value2 ,...),
 (
 value1,
 value2 ,...),
        ...

In [25]:
lst

[{'age': 21, 'height': 1.75, 'name': 'Илья', 'surname': 'Петров'},
 {'age': 20, 'height': 1.77, 'name': 'Василий', 'surname': 'Пупкин'},
 {'age': 19, 'height': 1.61, 'name': 'Мария', 'surname': 'Петрова'},
 {'age': 30, 'height': 1.67, 'name': 'Анна', 'surname': 'Каренина'}]

In [13]:
query = """
            INSERT INTO main (
                name, surname, age, height
                ) 
            VALUES ('Илья', 'Петров', '21', '1.75')
"""

In [14]:
cursor.execute(query)
db_conn.commit()

### `SELECT` - запрос данных с БД

In [17]:
query = """SELECT *
            FROM main"""

In [18]:
cursor.execute(query)

1

### `.fetchone()` - метод, который возвращает строку по одной. Если строк больше нет, возвращает None

In [19]:
cursor.fetchone()

(1, 'Илья', 'Петров', 21, 1.75)

In [20]:
cursor.fetchone()

### SELECT с указанием необходимых столбцов

In [21]:
query = """SELECT 
                ID, 
                name, 
                surname, 
                age
            FROM main"""

In [22]:
cursor.execute(query)
cursor.fetchone()

(1, 'Илья', 'Петров', 21)

### Записываю в БД информацию о втором студенте

In [34]:
lst

[{'age': 21, 'height': 1.75, 'name': 'Илья', 'surname': 'Петров'},
 {'age': 20, 'height': 1.77, 'name': 'Василий', 'surname': 'Пупкин'},
 {'age': 19, 'height': 1.61, 'name': 'Мария', 'surname': 'Петрова'},
 {'age': 30, 'height': 1.67, 'name': 'Анна', 'surname': 'Каренина'}]

In [26]:
tpl = tuple(lst[1].values())
tpl

('Василий', 'Пупкин', 20, 1.77)

In [65]:
query = """INSERT INTO main
        VALUES ('Василий', 'Пупкин', '20', '1.77')"""

query

"INSERT INTO main\n        VALUES ('Василий', 'Пупкин', '20', '1.77')"

### SQL Injection. Так делать нельзя

In [37]:
query = """INSERT INTO [main] (
                [name], [surname], [age], [height]
                )
        VALUES ({}, {}, {}, {})""".format(tpl[0], tpl[1], tpl[2], tpl[3])

query

'INSERT INTO [main] (\n                [name], [surname], [age], [height]\n                )\n        VALUES (Василий, Пупкин, 20, 1.77)'

### И даже так нельзя

In [39]:
query = """INSERT INTO [main] (
                [name], [surname], [age], [height]
                )
        VALUES (""" + str(tpl[0]) + ',' + str(tpl[1]) + ',' + str(tpl[2]) + ',' + str(tpl[3]) + ')'

query

'INSERT INTO [main] (\n                [name], [surname], [age], [height]\n                )\n        VALUES (Василий,Пупкин,20,1.77)'

### Что можно:
1. Подстановка методом %s
2. Подстановка переменных по ключам словаря

### Подстановка значений по стилю `qmark`

In [25]:
tpl

NameError: name 'tpl' is not defined

In [27]:
query = """INSERT INTO main (
                name, surname, age, height
                )
        VALUES (%s, %s, %s, %s)"""

query

'INSERT INTO main (\n                name, surname, age, height\n                )\n        VALUES (%s, %s, %s, %s)'

In [28]:
cursor.execute(query, tpl)
db_conn.commit()

In [29]:
query_select_all = """SELECT *
            FROM main"""

In [30]:
cursor.execute(query_select_all)
cursor.fetchone()

(1, 'Илья', 'Петров', 21, 1.75)

In [31]:
cursor.fetchone()

(2, 'Василий', 'Пупкин', 20, 1.77)

In [32]:
cursor.fetchone()

### Подстановка переменных по ключам словаря

In [34]:
query = """INSERT INTO main (
                name, surname, age, height
                )
            VALUES (%(name)s, %(surname)s, %(age)s, %(height)s)
"""

In [33]:
lst[2]

{'age': 19, 'height': 1.61, 'name': 'Мария', 'surname': 'Петрова'}

In [35]:
cursor.execute(query, lst[2])
db_conn.commit()

In [37]:
cursor.execute(query_select_all)

3

### `.fetchall()` - метод, который возвращает все строки в запросе в виде списка из кортежей. Если нет доступных строк, вернет пустой список.

In [38]:
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (2, 'Василий', 'Пупкин', 20, 1.77),
 (3, 'Мария', 'Петрова', 19, 1.61))

In [39]:
cursor.fetchall()

()

### `.fetchmany(size=cursor.arraysize)` - метод, который возвращает определенное количество строк. Количество строк определяется необязательным параметром `size` и по умолчанию равно количеству всех записей.

In [40]:
cursor.execute(query_select_all)
cursor.fetchmany(2)

((1, 'Илья', 'Петров', 21, 1.75), (2, 'Василий', 'Пупкин', 20, 1.77))

In [41]:
cursor.fetchmany(2)

((3, 'Мария', 'Петрова', 19, 1.61),)

In [42]:
cursor.fetchmany(2)

()

### Стандартный курсор забирает все данные с сервера сразу, не зависимо от того, используем мы .fetchall() или .fetchone()

In [86]:
tpl_1 = ('Мария', 'Шарапова', 18, 2.04)
tpl_2 = ('Барак', 'Обама', 50, 1.82)

In [92]:
query = """
        INSERT INTO main (name, surname, age, height) VALUES ('Мария', 'Шарапова', 18, 2.04);
        INSERT INTO main (name, surname, age, height) VALUES ('Барак', 'Обама', 50, 1.82)
"""

### метод `.execute()` не может выполнить несколько транзакций подряд

In [89]:
cursor.execute(query)

ProgrammingError: (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'INSERT INTO main (name, surname, age, height) VALUES ('Барак', 'Обама'' at line 2")

### Напишем свой метод `.executescript(sql_script)` - метод, который выполняет sql скрипт

In [96]:
def executescript(conn, cursor, query):
    query_list = query.strip().split(';')
    for q in query_list:
        if q:
            try:
                cursor.execute(q)
                conn.commit()
            except:
                conn.rollback()

executescript(db_conn, cursor, query)

In [97]:
cursor.execute(query_select_all)
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (2, 'Василий', 'Пупкин', 20, 1.77),
 (3, 'Мария', 'Петрова', 19, 1.61),
 (4, 'Мария', 'Шарапова', 18, 2.04),
 (5, 'Барак', 'Обама', 50, 1.82))

### Можно выполнять скрипты SQL из файлов SQL

with open('script_name.sql') as f:
    c.executescript(f.read())

### `.executemany(sql, seq_of_parameters)` - метод, который выполняет sql-код и каждый раз подставляет в него значения из параметра seq_of_parameters

In [100]:
query = """
        INSERT INTO main (name, surname, age, height) VALUES (%s, %s, %s, %s)
"""

cursor.executemany(query, [tpl_1, tpl_2])

2

In [101]:
cursor.execute(query_select_all)
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (2, 'Василий', 'Пупкин', 20, 1.77),
 (3, 'Мария', 'Петрова', 19, 1.61),
 (4, 'Мария', 'Шарапова', 18, 2.04),
 (5, 'Барак', 'Обама', 50, 1.82),
 (6, 'Мария', 'Шарапова', 18, 2.04),
 (7, 'Барак', 'Обама', 50, 1.82))

### Откат изменений с помощью метода `rollback()`

In [103]:
db_conn.rollback()

### Если к базе установлено несколько соединений и одно из них осуществляет модификацю базы, то база SQLite залочивается до завершения (метод соединения .commit()) или отмены (метод соединения .rollback()) транзакции

In [104]:
cursor.execute(query_select_all)
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (2, 'Василий', 'Пупкин', 20, 1.77),
 (3, 'Мария', 'Петрова', 19, 1.61),
 (4, 'Мария', 'Шарапова', 18, 2.04),
 (5, 'Барак', 'Обама', 50, 1.82))

### `DELETE` - удаление записей из БД

DELETE
FROM table
WHERE search_condition
ORDER BY criteria
LIMIT row_count OFFSET offset;

In [106]:
query = """
    DELETE FROM main WHERE ID = 2
"""

cursor.execute(query)

1

In [107]:
cursor.execute(query_select_all)
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (3, 'Мария', 'Петрова', 19, 1.61),
 (4, 'Мария', 'Шарапова', 18, 2.04),
 (5, 'Барак', 'Обама', 50, 1.82))

### `UPDATE` - исправление значений в БД

UPDATE table
SET column_1 = new_value_1,
    column_2 = new_value_2
WHERE
    search_condition 
ORDER column_or_expression
LIMIT row_count OFFSET offset;

In [108]:
query = """
    UPDATE main
    SET age = 33
    WHERE name = 'Мария'    
"""

cursor.execute(query)

2

In [109]:
cursor.execute(query_select_all)
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (3, 'Мария', 'Петрова', 33, 1.61),
 (4, 'Мария', 'Шарапова', 33, 2.04),
 (5, 'Барак', 'Обама', 50, 1.82))

### ID последней строки

In [120]:
query = """INSERT INTO main (
                name, surname, age, height
                )
            VALUES (%(name)s, %(surname)s, %(age)s, %(height)s)
"""

In [121]:
lst[3]

{'age': 30, 'height': 1.67, 'name': 'Анна', 'surname': 'Каренина'}

In [122]:
cursor.execute(query, lst[3])
id_ = cursor.lastrowid
db_conn.commit()

In [123]:
id_

8

In [124]:
cursor.execute(query_select_all)
cursor.fetchall()

((1, 'Илья', 'Петров', 21, 1.75),
 (3, 'Мария', 'Петрова', 33, 1.61),
 (4, 'Мария', 'Шарапова', 33, 2.04),
 (5, 'Барак', 'Обама', 50, 1.82),
 (8, 'Анна', 'Каренина', 30, 1.67))

### Закрываем курсор и подключение к БД

In [126]:
cursor.close()
db_conn.close()

### Запрос к БД не сработает

In [127]:
cursor.execute(query_select_all)

ProgrammingError: Cursor closed

## Чтение из таблиц с помощью Pandas

In [133]:
db_conn = pymysql.connect(host="139.162.170.240",user="nordic",passwd="password0",db="nordicDB")

In [134]:
import pandas as pd

In [138]:
df = pd.read_sql("SELECT * FROM main", db_conn, index_col='ID')

In [139]:
df

     name   surname  age  height
ID
1    Илья    Петров   21    1.75
3   Мария   Петрова   33    1.61
4   Мария  Шарапова   33    2.04
5   Барак     Обама   50    1.82
8    Анна  Каренина   30    1.67

In [141]:
df_add = pd.DataFrame({'name': 'Илья', 'surname': 'Ковальчук', 'age': 34, 'height': 1.8}, index=[9])

df.append(df_add)

    name    surname  age  height
1   Илья     Петров   21    1.75
3  Мария    Петрова   33    1.61
4  Мария   Шарапова   33    2.04
5  Барак      Обама   50    1.82
8   Анна   Каренина   30    1.67
9   Илья  Ковальчук   34    1.80

In [176]:
from sqlalchemy import create_engine
import mysql.connector

In [177]:
engine = create_engine('mysql+pymysql://nordic:password0@139.162.170.240:3306/nordicDB',
                       echo=True)

In [178]:
df_add.to_sql('main', engine, if_exists='append')

2019-05-30 13:30:34,777 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'
2019-05-30 13:30:34,779 INFO sqlalchemy.engine.base.Engine {}
2019-05-30 13:30:34,821 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()
2019-05-30 13:30:34,824 INFO sqlalchemy.engine.base.Engine {}

InternalError: (pymysql.err.InternalError) (1193, "Unknown system variable 'tx_isolation'")

In [ ]:
!pip v

In [57]:
db_conn.close()