# `str()` - строковый тип данных

#### Строки иницилизируются одинарными или двойными кавычками (нет никакой разницы между ними)

In [2]:
str_1 = 'Hello'
str_1

'Hello'

In [3]:
str_2 = "World"
str_2

'World'

#### Перенос строк

In [4]:
str_3 = 'Hello
World!'

SyntaxError: EOL while scanning string literal (<ipython-input-4-6c7e75bc75c8>, line 1)

### Тройные кавычки

In [7]:
str_3 = """Hello
World!"""

print(str_3)

Hello
World!

### Лексический перенос

In [10]:
str_3 = """Hello \
World!"""

str_3

'Hello World!'

#### Вложенные кавычки

In [11]:
"It's very good"

"It's very good"

In [12]:
'It"s very good'

'It"s very good'

In [13]:
'It's very good'

SyntaxError: invalid syntax (<ipython-input-13-02f7cbcd9b26>, line 1)

### `\` - экранирование специальных символов

In [14]:
'It\'s very good'

"It's very good"

In [16]:
'It\'s very good\''

"It's very good'"

# Escape-последовательности

### `\n` - перенос строки (нажатие клавиши Enter)

In [18]:
print('\n')

### `\t` - табуляция горизонтальная

In [19]:
print('\t')

In [20]:
str_1 = 'Hello \n Wor\tld!'

print(str_1)

Hello
 Wor	ld!

In [13]:
print(str_1)

Hello
 Wor	ld!

### Подавление escape-последовательностей

In [21]:
PATH = 'C:\tmp'

print(PATH)

C:	mp

### Первый способ решения проблемы. Экранирование

In [22]:
PATH = 'C:\\tmp'

print(PATH)

C:\tmp

### `r` - сырая строка

In [23]:
PATH = 'C:\\notes.txt'

print(PATH)

C:\notes.txt

### Второй способ решения проблемы. Сырые строки подавляют escape-последовательности

In [24]:
PATH = r'C:\notes.txt'

print(PATH)

C:\notes.txt

### Несмотря на назначение, сырая строка не может заканчиваться символом \

In [28]:
PATH = r'C:\tmp\'

SyntaxError: EOL while scanning string literal (<ipython-input-28-b00a9e42d075>, line 1)

#### Последний обратный слэш необходимо экранировать

In [29]:
PATH = r'C:\tmp\\'

print(PATH)

C:\tmp\\

### Если нужно взять только один последний слеш

In [30]:
print(PATH[:-1])

C:\tmp\

# Функции и методы строк

In [31]:
str_1 = 'Hello '
str_2 = 'World!'

### `+` - конкатенация

In [32]:
str_1 + str_2

'Hello World!'

### `str()` - приведение типов

In [37]:
str_1 + 5

TypeError: can only concatenate str (not "int") to str

In [38]:
str_1 + str(5)

'Hello 5'

### Можно не только преобразовывать целые числа в строки, но и наоборот

In [31]:
str_3 = 32

type(32)

int

In [32]:
str(str_3)

type(str(str_3))

str

In [33]:
str_3 = '32'

type(str_3)

str

In [34]:
int(str_3)

32

In [35]:
int('хлеб')

ValueError: invalid literal for int() with base 10: 'хлеб'

In [36]:
int('10 хлеб')

ValueError: invalid literal for int() with base 10: '10 хлеб'

### `*` -  дублирование

In [33]:
str_1 * 5

'Hello Hello Hello Hello Hello '

### len() - длина строки

In [34]:
str_1

'Hello '

In [35]:
len(str_1)

6

### Лексикографическое сравниевание строк

In [36]:
print(str_1)
print(str_2)

Hello
World!

In [39]:
str_1 == str_2

False

In [43]:
"wello" > "w"

True

In [45]:
str_1 > str_2

False

In [45]:
str_1 < str_2

True

In [46]:
'Hello' > 'Hella'

True

In [48]:
'Hell', 'Hello'

('Hell', 'Hello')

### `in`, `not in` - вхождение/невхождение одной строки в другую

In [49]:
str_1

'Hello '

In [50]:
str_2

'World!'

In [51]:
str_1 in str_2

False

In [47]:
str_1 = 'Wor'

In [48]:
str_1 in str_2

True

In [49]:
str_1 = 'rl'

In [50]:
str_1 in str_2

True

In [56]:
str_1 not in str_2

False

### Индексирование

In [51]:
str_3 = 'Hello World!'

str_3[5]

' '

In [52]:
str_3[-1]

'!'

In [53]:
str_3[-4]

'r'

### Срезы (Slice)

In [60]:
str_3

'Hello World!'

In [61]:
str_3[2:6]

'llo '

In [62]:
str_3[2:6:2]

'lo'

#### Развернуть строку

In [63]:
str_3[::-1]

'!dlroW olleH'

### Строка - неизменяемый тип данных

In [64]:
str_3[2] = 'b'

TypeError: 'str' object does not support item assignment

In [54]:
str_3

'Hello World!'

### Вариант решения

In [67]:
str_3[:2] + 'b' + str_3[3:]

'Heblo World!'

# Функции и методы строк

In [55]:
str_1 = 'Hello World!'

### `.lower()` - метод, который делает все символы строчными

In [69]:
str_1.lower()

'hello world!'

### `.upper()` - метод, который делает все символы заглавными

In [70]:
str_1.upper()

'HELLO WORLD!'

### `.capitalize()` - метод, который делает заглавным только первый символ

In [71]:
str_1.capitalize()

'Hello world!'

### `.title()` - метод, который делает заглавным первый символ каждого слова в строке

In [72]:
str_1.title()

'Hello World!'

### `.casefold()` - аналог метода .lower()

In [79]:
str_1.casefold()

'hello world!'

### `.swapcase` - переводит символы нижнего регистра в верхний, а верхнего – в нижний

In [80]:
str_1.swapcase()

'hELLO wORLD!'

### `.center(length, character=' ')` - метод, который возвращает отцентрованную строку длины lenght, по краям которой стоит символ character

In [56]:
str_1.center(50)

'                   Hello World!                   '

In [57]:
str_1.center(50, '.')

'...................Hello World!...................'

### `.strip(character)`, `.lstrip(character)`, `rstrip(character)` - убирает символ "character" с обоих концов строки, только справа от строки, только слева от строки

In [60]:
str_4 = "  new  "
print(str_4.rstrip())

  new

In [62]:
str_4 = '///new/'

In [63]:
print(str_4.strip('/'))
print(str_4.rstrip('/'))
print(str_4.lstrip('/'))

new
///new
new/

### Необходимо сделать заглавными первые буквы в обоих предложениях

In [80]:
str_2 = 'красная шапочка пошла домой. дома ее ждал волк'

In [67]:
str_2.capitalize()

'Красная шапочка пошла домой. дома ее ждал волк'

In [81]:
str_2.split('.')

['красная шапочка пошла домой', ' дома ее ждал волк']

In [90]:
for my_str in str_2.split('.'):
    tmp_str = my_str.strip()
    print(tmp_str.capitalize())
    print(my_str.strip().capitalize().split())

Красная шапочка пошла домой
['Красная', 'шапочка', 'пошла', 'домой']
Дома ее ждал волк
['Дома', 'ее', 'ждал', 'волк']

#### Распаковываю список

In [82]:
var_1, var_2 = str_2.split('.')

In [83]:
var_1

'красная шапочка пошла домой'

In [84]:
var_2

' дома ее ждал волк'

In [85]:
var_1 = var_1.capitalize()
var_1

'Красная шапочка пошла домой'

#### Невозможно сделать первый элемент заглавным, т.к. первым элементом является знак пробела

In [86]:
var_2.capitalize()

' дома ее ждал волк'

#### str.strip()

In [ ]:
var_2.strip()

In [ ]:
var_2 = var_2.strip().capitalize()
var_2

#### str.join()

In [91]:
var_2.join?

In [92]:
[var_1, var_2]

['Красная шапочка пошла домой', ' дома ее ждал волк']

#### Собираем оба предложение из списка в одну строку с разделителем ". "

In [93]:
var = '.'.join([var_1, var_2])
var

'Красная шапочка пошла домой. дома ее ждал волк'

#### str.replace()

In [94]:
var.replace?

In [96]:
my_str = "один два один три"
print(my_str.replace('один', 'четыре'))

четыре два четыре три

In [95]:
var = var.replace('пошла', 'пошла с охотниками')
var

'Красная шапочка пошла с охотниками домой. дома ее ждал волк'

In [97]:
var = """Алексей проснулся. Алексей оделся. 
Алексей пошел работать. Алексей получил зарплату"""

var

'Алексей проснулся. Алексей оделся. \nАлексей пошел работать. Алексей получил зарплату'

#### Заменим только первые 3 вхождения подстроки 'Алексей' на подстроку 'Игорь'

In [105]:
print(var[::-1].replace('Алексей'[::-1], 'Игорь'[::-1], 1)[::-1])

Алексей проснулся. Алексей оделся.
Алексей пошел работать. Игорь получил зарплату

#### str.count()

In [106]:
var.count?

#### Подсчитаем количество вхождений подстроки в строку

In [107]:
var.count('Алексей')

4

#### Ограничим строку для поиска и посчитаем количество вхождений подстроки в строку

In [110]:
var.count('Алексей', 0, int(len(var) / 2))

2

#### str.find()

In [117]:
var.find?

In [113]:
var

'Алексей проснулся. Алексей оделся. \nАлексей пошел работать. Алексей получил зарплату'

### Найдем индекс первого вхождения подстроки в строку

In [116]:
var.find('J')

-1

#### А теперь ограничим строку для поиска. Она будет начинаться с индекса 1

In [118]:
var.find('А', 1)

19

#### str.rfind()

In [119]:
var.rfind('А')

60

#### Раскладка клавиатуры важна в поиске: буква А на русском языке и буква А на английском языке - две разные буквы

In [ ]:
var.rfind('A') or var.rfind('')

# Форматирование строк

In [120]:
print('Меня зовут Андрей')

Меня зовут Андрей

#### Подстановка переменной в строку

In [121]:
name = 'Игорь'

print('Меня зовут %s' % name)

Меня зовут Игорь

#### Подстановка нескольких переменных в строку

In [122]:
surname = 'Петров'

print('Меня зовут %s. Моя фамилия %s' % (name, surname))

Меня зовут Игорь. Моя фамилия Петров

#### Нельзя,чтобы количество подстановок и количество переменных для подстановок отличалось

In [123]:
surname = 'Петров'

print('Меня зовут %s. Моя фамилия %s' % (name, name, name))

TypeError: not all arguments converted during string formatting

#### Подстановка по ключам из списка

In [125]:
dct = {'name':name, 'surname':surname}

print(dct)

print('Меня зовут %(surname)s Моя фамилия %(name)s' % dct)

{'name': 'Игорь', 'surname': 'Петров'}
Меня зовут Петров Моя фамилия Игорь

#### Можем поменять значения местами

In [ ]:
print('Моя фамилия %(surname)s. Меня зовут %(name)s' % dct)

#### Форматирование чисел

%s - для строк (string)

%c - для букв (character)

%i - для целых чисел (integer)

%f - для дробный (float)

%e - для представления числа в экспоненциальной форме

#### Испортируем число pi

In [126]:
from math import pi

pi

3.141592653589793

#### Подстановка числа типа float

In [127]:
print('Число Пи равно = %f' % pi)

Число Пи равно = 3.141593

#### Ограничим количество знаков после запятой

In [130]:
print('Число Пи равно = %.3f' % pi)

Число Пи равно = 3.142

#### Установим количество знаков для отображения (в счет идет также и точка ".")

In [131]:
print('Число Пи равно = %10.3f' % pi)

Число Пи равно =      3.142

#### Заменим пробелы нулями

In [132]:
print('Число Пи равно = %010.3f' % pi)

Число Пи равно = 000003.142

#### Вывод числа в экспоненциальной форме

In [133]:
print('Число Пи равно = %10.3e' % pi)

Число Пи равно =  3.142e+00

In [136]:
print('Число Пи равно = %10.3e' % (pi/10000))

Число Пи равно =  3.142e-04

#### Вывод числа в формате int. Округление с отсечением

In [139]:
print('Число Пи равно = %i' % 4.8)

Число Пи равно = 4

#### Вывод числа в формате float. Округление до ближайшего

In [140]:
print('Число Пи равно = %010.0f' % 4.8)

Число Пи равно = 0000000005

#### str.format()

In [ ]:
name, surname

print('Меня зовут %s Моя фамилия %s' % (name, surname))

#### Используем метод format

In [141]:
name, surname

print('Меня зовут {} Моя фамилия {}'.format(name, surname))

Меня зовут Игорь Моя фамилия Петров

#### Можно поменять порядок отображения переменных в строке

In [143]:
print('Меня зовут {1} Моя фамилия {0}'.format(name, surname))

Меня зовут Петров Моя фамилия Игорь

#### Можно использовать дважды одну и ту же переменную

In [144]:
print('Меня зовут {1} Моя фамилия {1}'.format(name, surname))

Меня зовут Петров Моя фамилия Петров

#### Можно передавать словарь

In [ ]:
dct = {'имя':name, 'фамилия':surname}

print('Меня зовут {имя} Моя фамилия {фамилия}'.format(**dct))

### Задача

Для каждого студента вывести строку:
"Привет!
Меня зовут name surname.
Мне age лет
Мой средний балл Score.
Я доступен по номеру num"

In [146]:
group_dict = {
    '+79999999999': {
        'name': 'Василий',
        'surname': 'Иванов',
        'age': 23,
        'Score': 60.7
    },
    '+79999998888': {
        'name': 'Василий',
        'surname': 'Иванов',
        'age': 20,
        'Score': 67.0
    },
    '+79999997777': {
        'name': 'Анна',
        'surname': 'Петрова',
        'age': 27,
        'Score': 90.2
    },
}

## Регулярные выражения

In [148]:
import re

### re.search(pattern, string)

In [2]:
match = re.search(r'\d\d\D\d\d', r'Телефон 123-12-12') 
print(match[0] if match else 'Not found')

23-12

In [3]:
match = re.search(r'\d\d\D\d\d', r'Телефон 1231212') 
print(match[0] if match else 'Not found')

Not found

### re.split(pattern, string, maxsplit=0)

In [172]:
print(re.split(r'\W+', 'Где, скажите мне, мои очки??!'))

['Где', 'скажите', 'мне', 'мои', 'очки', '']

### re.findall(pattern, string)

In [8]:
print(re.findall(r'\d\d\.\d\d\.\d{4}', 
                 r'Эта строка написана 19.01.2018, а могла бы и 01.09.2017'))

['19.01.2018', '01.09.2017']

https://docs.python.org/2/library/re.html

### Шаблоны

In [156]:
# "." - один любой символ кроме \n
print(re.search("м.л.ко", "молоко овощи")[0])
match = re.search("м.л.ко", "млоко")
print(match[0] if match else "Not found")

молоко
Not found

In [159]:
# "\d" - любая цифра
print(re.search("\d", "1 молоко, 2 сметаны")[0])
print(re.search("\d", "молоко"))

1
None

In [160]:
# "\D" - любой символ - НЕ цифра
print(re.search("\D", "1 молоко, 2 сметаны")[0])
print(re.search("\D", "молоко")[0])

м

In [161]:
# "\s" - Любой пробельный символ (пробел, табуляция, конец строки и т.п.)
print(re.search("\s", "1 молоко, 2 сметаны")[0])
print(re.search("\s", "молоко"))

None

In [162]:
# "\S" - Любой НЕ пробельный символ (пробел, табуляция, конец строки и т.п.)
print(re.search("\S", "1 молоко, 2 сметаны")[0])
print(re.search("\S", "молоко")[0])

1
м

In [163]:
# "\w" - любая буква, цифра или _
print(re.search("\w", "1 молоко, 2 сметаны")[0])
print(re.search("\w", "молоко")[0])

1
м

In [164]:
# "\W" - любая НЕ буква, НЕ цифра и НЕ _
print(re.search("\W", "молоко, 2 сметаны")[0])
print(re.search("\W", "молоко"))

,
None

In [165]:
# [..] Один из символов в скобках, а также любой символ из диапазона a-b
print(re.search("[А-Яа-я0-9]", "1 молоко, 2 сметаны")[0])
print(re.search("[а-я]", "молоко")[0])

1
м

In [167]:
# [^..] Любой символ, кроме перечисленных
print(re.search("[^а-я0-9]", "1 молоко, 2 сметаны")[0])
print(re.search("[^а-я]", "молоКо")[0])

К

### Квантификаторы

In [168]:
# {n} ровно n повторений
print(re.search("о{3}", "мооолоко")[0])
print(re.search("о{2}", "мооолоко"))

ооо
<_sre.SRE_Match object; span=(1, 3), match='оо'>

In [169]:
# {n,} не менее n повторений
# {m,n} от m до n повторений
print(re.search("о{1,3}", "мооолоко")[0])
print(re.search("о{1,4}", "мооолоко")[0])

ооо
ооо

`?` Ноль или одно вхождение, синоним {0,1}  
`*` Ноль или более, синоним {0,}  
`+` Одно или более, синоним {1,}

In [176]:
print(re.findall("[а-я]+", "молоко, 2 сметаны"))

['молоко', 'сметаны']