In [2]:
import pandas as pd

In [18]:
data = pd.read_csv('adult.data.csv', names=[
    'age', 'workclass', 'fnlwgt', 'education', 'education-num', 'marital-status', 'occupation',
    'relationship', 'race', 'sex', 'capital-gain', 'capital-loss', 'hours-per-week', 'native-country', 'salary'])
data.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

Уникальные значения признаков:

* age (возраст): continuous.
* workclass (тип занятости, класс): Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.
* fnlwgt: continuous.
* education (образование): Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.
* education-num (непрерывный идентификатор образования): continuous.
* marital-status (семейное положение): Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.
* occupation (сфера работы): Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.
* relationship (отношения): Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.
* race (раса): White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.
* sex (пол): Female, Male.
* capital-gain (приобретенный капитал): continuous.
* capital-loss (потерянный капитал): continuous.
* hours-per-week (часов работы в неделю): continuous.
* native-country (родина): United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.
* salary (зарплата): >50K,<=50K

## Ответьте на вопросы ниже, используя стандартные функции из библиотеки Pandas

**1. Сколько мужчин и женщин (колонка sex) представлено в этом наборе данных?**

In [4]:
# Ваш код здесь
data.groupby(['sex']).count()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,capital-gain,capital-loss,hours-per-week,native-country,salary
sex,,,,,,,,,,,,,,
Female,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771,10771
Male,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790,21790

In [ ]:
d = {'age': [1, 10, 3, 20], 'sex': ['male', 'female','male', 'female']}
df = pd.DataFrame(data=d)
df

In [ ]:
df.groupby('sex').count()
df.groupby('sex').agg({"age": ["mean"]})

**2. Каков средний возраст (колонка age) женщин?**

In [5]:
data.groupby('sex').agg({"age": ["mean"]})

               age
              mean
sex
 Female  36.858230
 Male    39.433547

**3. Какова доля граждан Германии (колонка native-country)?**

In [6]:
len(data)
germany = data[data['native-country'] == 'Germany']
print (len(germany)/len(data))

0.0

In [119]:
mydata = [ ('jack', 'Germany' , 30, '>50K', 'Bachelors', 'White', 'Male', 'Married-civ-spouse') ,
          ('steve', 'Germany' , 37, '>50K', 'Bachelors', 'White', 'Male' , 'Married-adsadsadasd') ,
          ('kevin', 'Germany' , 30, '>50K', 'Bachelors', 'White', 'Male', 'not married') ,
             ('olga', 'Russia'  , 23, '>50K', 'Bachelors', 'White', 'Female', 'Married-civ-spouse') ,
             ('john', 'USA' , 33, '>50K', 'Doctorate', 'Black', 'Male', 'not married') ,
             ('sonia', 'Germany', 60, '<50K', 'Masters', 'Amer-Indian-Eskimo', 'Female', 'Married-civ-spouse') ,
             ('pete', 'England'  , 40, '>50K', '11th', 'Amer-Indian-Eskimo', 'Male', 'not Married') ,
             ('mike', 'Germany' , 17, '<=50K', 'Masters', 'White', 'Male', 'Married-civ-spouse')
              ]
df = pd.DataFrame(mydata, columns = ['name' , 'native-country', 'Age', 'Salary', 
                                     'education', 'race', 'sex', 'marital_status']) 
df.head(10)

,name,native-country,Age,Salary,education,race,sex,marital_status
0,jack,Germany,30,>50K,Bachelors,White,Male,Married-civ-spouse
1,steve,Germany,37,>50K,Bachelors,White,Male,Married-adsadsadasd
2,kevin,Germany,30,>50K,Bachelors,White,Male,not married
3,olga,Russia,23,>50K,Bachelors,White,Female,Married-civ-spouse
4,john,USA,33,>50K,Doctorate,Black,Male,not married
5,sonia,Germany,60,<50K,Masters,Amer-Indian-Eskimo,Female,Married-civ-spouse
6,pete,England,40,>50K,11th,Amer-Indian-Eskimo,Male,not Married
7,mike,Germany,17,<=50K,Masters,White,Male,Married-civ-spouse

In [129]:
# 3. Какова доля граждан Германии (колонка native-country)?
germany = df[df['native-country'] == 'Germany']
print ('доля германии: ', len(germany)/len(df))


# 4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, 
# кто получает более 50K в год (признак salary) 
# и тех, кто получает менее 50K в год?

over50 = df[df['Salary'] == '>50K']
print ('mean over50:' , over50['Age'].mean())
print ('std over50:' , over50['Age'].std())

under50 = df[df['Salary'] == '<=50K']
print ('mean under50:' , under50['Age'].mean())
print ('std under50:' , under50['Age'].std())

# 6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? 
# (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)

def check_salary_education():
    edu = ['Bachelors', 'Prof-school', 'Assoc-acdm', 'Assoc-voc', 'Masters', 'Doctorate']
    lst = list(over50.education.isin(edu))
    if lst.count(False) > 0:
        return 'неправда'
    else:
        return 'правда'
        
print (check_salary_education())  

#7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. 
#Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.
race_describe = df.groupby('race').describe()
print (race_describe)
print ('max age of Amer-Indian-Eskimo: ', race_describe.loc['Amer-Indian-Eskimo'].Age.max())
sex_describe = df.groupby('sex').describe()
print(sex_describe)

# 8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин 
# (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается 
# с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.

over50_male = over50[over50['sex'] == 'Male']
type(over50_male.marital_status)

lst = list(over50_male.marital_status.str.startswith('Married'))
if lst.count(True) > lst.count(False):
    print('>50K больше у женатых')
elif lst.count(True) < lst.count(False):
    print('>50K больше у холостых')
else:
    print('>50K одинаково у женатых и холостых')

доля германии:  0.625
mean over50: 32.166666666666664
std over50: 5.980523945831725
mean under50: 17.0
std under50: nan
неправда
                     Age
                   count  mean        std   min   25%   50%   75%   max
race
Amer-Indian-Eskimo   2.0  50.0  14.142136  40.0  45.0  50.0  55.0  60.0
Black                1.0  33.0        NaN  33.0  33.0  33.0  33.0  33.0
White                5.0  27.4   7.635444  17.0  23.0  30.0  30.0  37.0
max age of Amer-Indian-Eskimo:  60.0
         Age
       count       mean        std   min    25%   50%    75%   max
sex
Female   2.0  41.500000  26.162951  23.0  32.25  41.5  50.75  60.0
Male     6.0  31.166667   7.985403  17.0  30.00  31.5  36.00  40.0
>50K больше у холостых

**4-5. Каковы средние значения и среднеквадратичные отклонения возраста тех, кто получает более 50K в год (признак salary) и тех, кто получает менее 50K в год?**

In [20]:
over50K = data[data['salary'] == '>50K']
print ('mean over50K:' , over50K['age'].mean())
print ('std over50K:' , over50K['age'].std())

under50K = data[data['salary'] == '<=50K']
print ('mean under50K:' , under50K['age'].mean())
print ('std under50K:' , under50K['age'].std())

mean over50K: nan
std over50K: nan
mean under50K: nan
std under50K: nan

**6. Правда ли, что люди, которые получают больше 50k, имеют как минимум высшее образование? (признак education – Bachelors, Prof-school, Assoc-acdm, Assoc-voc, Masters или Doctorate)**

In [ ]:
# done

**7. Выведите статистику возраста для каждой расы (признак race) и каждого пола. Используйте groupby и describe. Найдите таким образом максимальный возраст мужчин расы Amer-Indian-Eskimo.**

In [ ]:
# done

**8. Среди кого больше доля зарабатывающих много (>50K): среди женатых или холостых мужчин (признак marital-status)? Женатыми считаем тех, у кого marital-status начинается с Married (Married-civ-spouse, Married-spouse-absent или Married-AF-spouse), остальных считаем холостыми.**

In [ ]:
# done

**9. Какое максимальное число часов человек работает в неделю (признак hours-per-week)? Сколько людей работают такое количество часов и каков среди них процент зарабатывающих много?**

**10. Посчитайте среднее время работы (hours-per-week) зарабатывающих мало и много (salary) для каждой страны (native-country).**