### Внимание! Важно помнить, что к названию таблиц вам необходимо добавлять постфикс в виде первой буквы своего имени!

Т.е. table_1, из первого задания, вы называете как table_1_m, table_1_d и т..

## Задача 1
1. Создать две таблицы и назвать их "table_1" и "table_2"
2. Провести LEFT JOIN по ключу name
3. Провести RIGHT JOIN по ключу name
4. Провести INNER JOIN по ключу name
5. Провести OUTER JOIN по ключу name

В каждом случае вывести результат на печать

In [ ]:
import pymysql
db_conn = pymysql.connect(host="139.162.170.240",user="nordic",
                          passwd="password0",db="nordicDB")
cursor = db_conn.cursor()

In [ ]:
query = """
    CREATE TABLE IF NOT EXISTS table_1_d (
        name TEXT NOT NULL,
        surname TEXT NOT NULL
        )
"""

cursor.execute(query)
db_conn.commit()

Первая таблица содержит два столбца (name и surname), в которых содержатся следующие строки:

Петров; Иван
Иванов; Иван
Дмитриев; Юрий
Иванов; Петр

In [ ]:
records_to_insert = [ ('Петров','Иван') ,
                     ('Иванов','Иван'), 
                     ('Дмитриев','Юрий'), 
                     ('Иванов','Петр')]

query = """ INSERT INTO table_1_d (name, surname) 
                       VALUES (%s,%s) """

cursor.executemany(query, records_to_insert)

Вторая таблица содержит два столбца (name и age), в которых содержатся следующие строки:

Иван; 19
Илья; 5
Юрий; 20

In [ ]:
query = """
    CREATE TABLE IF NOT EXISTS table_2_d (
        name TEXT NOT NULL,
        age INT NOT NULL
        )
"""

cursor.execute(query)
db_conn.commit()

records_to_insert = [ ('Иван',19),
                     ('Илья',5), 
                     ('Юрий',20) 
                     ]

query = """ INSERT INTO table_2_d (name, age) 
                       VALUES (%s,%s) """

cursor.executemany(query, records_to_insert)
db_conn.commit()

In [ ]:
Провести LEFT JOIN по ключу name
Провести RIGHT JOIN по ключу name
Провести INNER JOIN по ключу name
Провести OUTER JOIN по ключу name

In [ ]:
query = """
    SELECT * FROM table_1_d t1 LEFT JOIN table_2_d t2
    ON t1.name = t2.name
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
query = """
    SELECT * FROM table_1_d t1 RIGHT JOIN table_2_d t2
    ON t1.name = t2.name
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
query = """
    SELECT * FROM table_1_d t1 INNER JOIN table_2_d t2
    ON t1.name = t2.name
"""
cursor.execute(query)
cursor.fetchall()

In [ ]:
query = """
    SELECT * FROM table_1_d t1 OUTER JOIN table_2_d t2
    ON t1.name = t2.name
"""
cursor.execute(query)
cursor.fetchall()

## Задача 2

Работаем с файлом `telecom-churn.csv`

1. Необходимо записать его данные в таблицу с помощью CREATE TABLE

Что считаем:

In [ ]:
FILE_CSV = 'telecom-churn.csv'

query = """
    INSERT INTO telecom_table (
        
    )
    VALUES (%s, ...)
"""

with open(FILE_CSV) as f:
    f_read = csv.reader(f)
    for row in f_read:
        if len(row) > 0:
            cursor.execute(query, row)

db_conn.commit()

### Выведите кол-во уникальных значений попя `Customer service calls` (Через SQL)

In [ ]:
select count(distinct customer_service_calls) from telecom_table

### Выведите, сколько пользователей звонили какое число раз в колл-центр (Через SQL). Т.е. необходимо определить, сколько звонило 0, сколько 1, сколько 2 и т.д. (Через SQL)

#### Отдельно нарисуйте гистограмму (распределение) числа звонков в колл-центр по результатам расчета (Это делаем уже в PYTHON! Предварительно нужно сохранить результат прошлого расчета)

In [ ]:
select distinct customer_service_calls, count (*) from telecom_table
group by customer_service_calls

### Вывести тех лояльных пользователей, которые не сталкиваются с роумингом и необходимостью часто звонить в колл-центр (Через SQL)

### Посчитайте общее кол-во лояльных пользователей (через SQL)

### Результаты 2-х предыдущих запросов запишите в python-переменные (списки, кортежи, как захотите). И посчитайте долю лояльных пользователей среди тех, которые не сталкиваются с роумингом и звонками в колл-центр. (Это делаем уже средствами PYTHON!)