### Решение д/з

In [1]:
group_list = {
    '+79999999999':{
        'name':'Василий',
        'surname':'Иванов',
        'age':23,
        'Score': 60.7
    },
    '+79999998888':{
        'name':'Василий',
        'surname':'Иванов',
        'age':20,
        'Score': 67.0
    },
    '+79999997777':{
        'name':'Анна',
        'surname':'Петрова',
        'age':27,
        'Score': 90.2
    },
}

In [2]:
group_list.items()

dict_items([('+79999999999', {'name': 'Василий', 'surname': 'Иванов', 'age': 23, 'Score': 60.7}), ('+79999998888', {'name': 'Василий', 'surname': 'Иванов', 'age': 20, 'Score': 67.0}), ('+79999997777', {'name': 'Анна', 'surname': 'Петрова', 'age': 27, 'Score': 90.2})])

In [3]:
for i in group_list.items():
    print(i)

('+79999999999', {'name': 'Василий', 'surname': 'Иванов', 'age': 23, 'Score': 60.7})
('+79999998888', {'name': 'Василий', 'surname': 'Иванов', 'age': 20, 'Score': 67.0})
('+79999997777', {'name': 'Анна', 'surname': 'Петрова', 'age': 27, 'Score': 90.2})

In [4]:
for key, value in group_list.items():
    print(key)
    print(value)

+79999999999
{'name': 'Василий', 'surname': 'Иванов', 'age': 23, 'Score': 60.7}
+79999998888
{'name': 'Василий', 'surname': 'Иванов', 'age': 20, 'Score': 67.0}
+79999997777
{'name': 'Анна', 'surname': 'Петрова', 'age': 27, 'Score': 90.2}

In [5]:
for key, value in group_list.items():
#     print(key)
#     print(value)
    
    text = """
        Привет!
        Мой возраст {age}
        Меня зовут {name} {surname}
        Мой возраст {age}
        Средний балл {Score}
    """.format(**value)
    
    print(text)

        Привет!
        Мой возраст 23
        Меня зовут Василий Иванов
        Мой возраст 23
        Средний балл 60.7


        Привет!
        Мой возраст 20
        Меня зовут Василий Иванов
        Мой возраст 20
        Средний балл 67.0


        Привет!
        Мой возраст 27
        Меня зовут Анна Петрова
        Мой возраст 27
        Средний балл 90.2

In [6]:
for key, value in group_list.items():
#     print(key)
#     print(value)
    
    text = """
        Привет!
        Мой номер телефона: {}
        Мой возраст {age}
        Меня зовут {name} {surname}
        Мой возраст {age}
        Средний балл {Score}
    """.format(key, **value)
    
    print(text)

        Привет!
        Мой номер телефона: +79999999999
        Мой возраст 23
        Меня зовут Василий Иванов
        Мой возраст 23
        Средний балл 60.7


        Привет!
        Мой номер телефона: +79999998888
        Мой возраст 20
        Меня зовут Василий Иванов
        Мой возраст 20
        Средний балл 67.0


        Привет!
        Мой номер телефона: +79999997777
        Мой возраст 27
        Меня зовут Анна Петрова
        Мой возраст 27
        Средний балл 90.2

In [7]:
DATA = '2019-03-31'

for key, value in group_list.items():
#     print(key)
#     print(value)
    
    text = """
        Привет!
        
        Сегодня {}
        Мой возраст {age}
        Меня зовут {name} {surname}
        Мой возраст {age}
        Средний балл {Score}
        Мой номер телефона: {}
    """.format(key, **value, DATA)
    
    print(text)

SyntaxError: positional argument follows keyword argument unpacking (<ipython-input-7-9ded23256b91>, line 16)

In [ ]:
DATA = '2019-03-31'
TIME = '15:10'

args = (DATA, TIME)

for key, value in group_list.items():
#     print(key)
#     print(value)

    
    text = """
        Привет!
        
        Сегодня {}
        Мой возраст {age}
        Меня зовут {name} {surname}
        Мой возраст {age}
        Средний балл {Score}
        Мой номер телефона: {}
        
        Дата {} Время {}
        
    """.format(key, DATA, *args, **value)
    
    print(text)

In [ ]:
DATA = '2019-03-31'
TIME = '15:10'

args = (DATA, TIME)

for key, value in group_list.items():
#     print(key)
#     print(value)

    
    text = """
        Привет!
        
        Сегодня {1}
        Мой возраст {age}
        Меня зовут {name} {surname}
        Мой возраст {age}
        Средний балл {Score}
        Мой номер телефона: {0}
        
        Дата {2} Время {3}
        
    """.format(key, DATA, *args, **value)
    
    print(text)

In [ ]:
DATA = '2019-03-31'
TIME = '15:10'

for key, value in group_list.items():
#     print(key)
#     print(value)

    args = (DATA, TIME)
    
    text = """
        Привет!
        
        Сегодня {1}
        Мой возраст {age}
        Меня зовут {name} {surname}
        Мой возраст {age}
        Средний балл {Score}
        Мой номер телефона: {0}
        
        Дата {1} Время {2}
        
    """.format(key, *args, **value)
    
    print(text)

# Занятие 5. Функции и анонимные функции

In [1]:
3 + 4

7

In [2]:
3 + 4 + 7

14

In [3]:
sum([3, 4])

7

In [4]:
sum([3, 4, 7])

14

### `def` - оператор для создания функций

In [5]:
def my_sum():
    print('Hello World!')

In [13]:
def my_sum():
    print(3 + 4)

In [14]:
a = my_sum()
print(a)

7
None

### `return` - jоператор, который возвращает значение функции

In [15]:
def my_sum(a, b):
    return a + b

In [17]:
x = my_sum(3, 4)
print("x=", x)

x= 7

In [ ]:
my_sum(a=3, b=4)

### Нельзя передавать в качестве аргументов больше элементов, че было задано при объявлении функции

In [18]:
my_sum(3, 4, 7)

TypeError: my_sum() takes 2 positional arguments but 3 were given

### Объявляем функцию суммирования my_sum()

In [20]:
def my_sum(a, b, c=7):
    return a + b + c

### Вызываем функцию my_sum() и передаем ей неявно значения аргументов a=1 и b=2

In [22]:
my_sum(3, 5)

15

In [24]:
my_sum(3, 5, 10)

18

### Передаем в функцию только один обязательный аргумент

In [23]:
my_sum(7)

TypeError: my_sum() missing 1 required positional argument: 'b'

In [25]:
my_sum(a=3, c=6)

TypeError: my_sum() missing 1 required positional argument: 'b'

### Правильные способы передачи аргументов

In [26]:
my_sum(3, 4)

14

In [27]:
my_sum(3, 4, 6)

13

### Аргументы погут передаваться не по порядку. В таком слуае, необходимо явно прописывать названия аргументов

In [28]:
my_sum(b=4, a=3, c=6)

13

### Тип у объекта функции является **function**

In [32]:
type(my_sum)

function

### Тип возвращаемого функцией значения может быть любым, в т.ч. и функцией (если функция возвращает функцию)

In [30]:
type(my_sum(3, 4))

int

### Передаем в функцию суммирования строки

In [33]:
my_sum(a='Hello', b='World')

TypeError: must be str, not int

In [34]:
my_sum(a='Hello', b=' World', c='7')

'Hello World7'

In [35]:
my_sum(a='Hello', b=' World', c='!')

'Hello World!'

### Тип возвращаемого функцией значения изменился

In [38]:
type(my_sum(a='Hello', b=' World', c='!'))

str

### Функция может быть любой сложности и возвращать любые объекты (списки, кортежи, и даже функции!):

In [39]:
def sum2pow(a, b):
    return a**2 + b**2

In [40]:
sum2pow(2, 3)

13

In [41]:
def sum2pow(a, b):
#     return a**2 + b**2
    return my_sum(a**2, b**2, c=0)

In [42]:
sum2pow(2, 3)

13

In [45]:
def sum2pow(a, b):
    # a = 2, b = 3
    def my_sum(a, b):
        return a**2 + b**2
    return my_sum(a, b)

In [46]:
sum2pow(2, 3)

13

In [47]:
type(sum2pow(2, 3))

int

### Лексическое замыкание

In [48]:
def sum2pow(a):
    # a = 2
    def my_sum(b):
        return a**2 + b**2
    return my_sum

### sum2pow_fun - это функция

In [49]:
sum2pow_func = sum2pow(2)

In [50]:
type(sum2pow)

function

In [51]:
sum2pow_func(3)

13

In [52]:
sum2pow_func(4)

20

In [53]:
sum2pow_func(1)

5

### Функция может и не заканчиваться инструкцией return, при этом функция вернет значение None:

In [54]:
def helloWorld():
    print('Hello world')

In [55]:
print(helloWorld())

Hello world
None

### `pass` - оператор, который ничего не делает

In [ ]:
def helloWorld():
    print('Hello world')
    pass

In [57]:
def my_f(a, b, c):
    pass

In [58]:
print(helloWorld())

Hello world
None

In [61]:
def helloWorld():
    print('Hello world')
    pass
    return 1

In [62]:
print(helloWorld())

Hello world
1

### Функция также может принимать переменное количество позиционных аргументов, тогда перед именем ставится *:

In [ ]:
sum([2])

In [ ]:
sum([2, 3, 4, 7])

In [ ]:
my_sum(2, 3, 4, 7)

### `args` - это кортеж из всех переданных аргументов функции, и с переменной можно работать также, как и с кортежем.

In [63]:
def my_sum(*args):
    print(args)

In [64]:
my_sum(2, 3, 4, 7)

(2, 3, 4, 7)

In [65]:
def my_sum(*args):
    summa = 0
    for i in args:
        summa += i
    return summa

In [68]:
my_sum(2, 3, 4, 7, 8, 9, 100)

133

### Задача
Создайте функцию, которая может принимать **переменное** количество параметров. В теле функции посчитайте сумму данных параметров, переданных на вход. Так же **явно** укажите дополнительный параметр-число, которое необходимо прибавить к получившейся сумме.

In [76]:
def my_sum(*args, start=0):
    summa=0
    for i in args:
        summa += i
    return summa + start

In [75]:
my_sum(2, 3, 4, start=7)

16

In [71]:
my_sum(2, 3, 4, 7, start=30)

46

In [72]:
my_sum(2, 3, 4, 7, 30)

46

### Если не передать никаких значений в функцию, то она вернет сумму из необязательного параметра

In [77]:
my_sum()

0

### `kwargs` - это переменная из всех переданных аргументов функции, и с переменной можно работать также, как и со словарем.

In [78]:
def func(**kwargs):
    return kwargs

In [79]:
type(func)

function

In [80]:
func(a=[{'aa': 1, 'bb': 2}, {}], b=2, c=3)

{'a': 1, 'b': 2, 'c': 3}

### В переменной kwargs у нас хранится словарь

In [81]:
type(func())

dict

In [82]:
func()

{}

In [83]:
func(a='python')

{'a': 'python'}

### Пример

In [97]:
group_list = {
    '+79999999999':{
        'name':'Ivan',
        'surname':'Ivanov',
        'age':20,
        'Score':65.7
    },
    '+79999998888':{
        'name':'Ilya',
        'surname':'Ivanov',
        'age':22,
        'Score':74.7
    }
}

In [99]:
group_list['+79999999999']

{'Score': 65.7, 'age': 20, 'name': 'Ivan', 'surname': 'Ivanov'}

In [110]:
dct = {'temperature': 20, 'humidity': 0.9}

print("""Сегодня хорошая погода.
Температура {temperature} градусов, влажность {humidity}.""".format(**dct))

Сегодня хорошая погода.
Температура 20 градусов, влажность 0.9.

In [124]:
def group(**kwargs):
    print(list(kwargs.items()))
    for key, value in kwargs.items():
        text = """
            Привет!
            Мой возраст {age} 
            Меня зовут {name} {surname}
            Средний балл {Score}
        """.format(**value)
        print(key)

        return text

In [115]:
print(group(student = group_list['+79999999999']))

            Привет!
            Мой возраст 20
            Меня зовут Ivan Ivanov
            Средний балл 65.7

In [119]:
group_list.values()

dict_values([{'name': 'Ivan', 'surname': 'Ivanov', 'age': 20, 'Score': 65.7}, {'name': 'Ilya', 'surname': 'Ivanov', 'age': 22, 'Score': 74.7}])

In [121]:
group(students = group_list.values())

ERROR:root:An unexpected error occurred while tokenizing input
The following traceback may be corrupted or invalid
The error message is: ('EOF in multi-line string', (1, 8))

[('students', dict_values([{'name': 'Ivan', 'surname': 'Ivanov', 'age': 20, 'Score': 65.7}, {'name': 'Ilya', 'surname': 'Ivanov', 'age': 22, 'Score': 74.7}]))]

TypeError: format() argument after ** must be a mapping, not dict_values

In [125]:
for student in group_list.values():
    print(group(val=student))

[('val', {'name': 'Ivan', 'surname': 'Ivanov', 'age': 20, 'Score': 65.7})]
val

            Привет!
            Мой возраст 20
            Меня зовут Ivan Ivanov
            Средний балл 65.7

[('val', {'name': 'Ilya', 'surname': 'Ivanov', 'age': 22, 'Score': 74.7})]
val

            Привет!
            Мой возраст 22
            Меня зовут Ilya Ivanov
            Средний балл 74.7

In [ ]:
for student in group_list.keys():
    print(group(kwargs = group_list[student]))

### Рекурсия. Вычисление числа Фибоначчи.

In [126]:
[0, 1, 1, 2, 3, 5, 8, 13]

[0, 1, 1, 2, 3, 5, 8, 13]

In [127]:
def fibb(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    elif n == 2:
        return 1
    elif n == 3:
        return 2
    pass

In [130]:
fibb(10)

### Решение

In [132]:
def fibb(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibb(n-1) + fibb(n-2)

In [ ]:
# call 1
# fibb(3) + fibb(2)
# call 2 (fibb(3))
# fibb(2) + fibb(1)
# call 3 (fibb(2))
# 1 + fibb(0)
# call 4 (fibb(1))
# return 1

In [134]:
print(fibb(10))

55

### Циклы. Вычисление факториала.

4! = 1 * 2 * 3 * 4

0! = 1

### Решение

In [136]:
def factorial(n):
    num = 1
    for i in range(1, n+1):
        num *= i
    return num

In [138]:
print(factorial(4))

24

### Функцию можно присвоить переменной и использовать ее, если необходимо сократить имя. В качестве примера можно привести вариант использования функции вычисления факториала из пакета math.

In [15]:
import math

f = math.factorial
print(f(5))

120

## Анонимные функции

### Объявляем функцию суммы двух значений

In [139]:
def my_sum(a, b):
    return a + b

### Передаем в функцию значения аргументов

In [140]:
my_sum(3, 4)

7

### `lambda` - оператор, который определяет анонимную функцию (убираем название функции и `return`)

In [141]:
lambda a, b : a + b

In [142]:
type(lambda a,b : a + b)

function

### Передадим в функцию значения аргументов

In [143]:
(lambda a, b : a + b)(3, 4)

7

In [148]:
lst = [1, 2, 3, 4]
for i in map(lambda x: x * 2, lst):
    print(i)

2
4
6
8

### Необходимо написать анонимную функцию для функции moda()

In [149]:
def moda(a, b):
    return a % b

In [150]:
moda(7, 2)

1

### Функция будет выглядеть следующим образом:

In [23]:
lambda a, b: a % b

### Анонимную функцию можно передать в переменную

In [151]:
moda = lambda a, b: a % b

In [25]:
moda(10, 3)

1

### Что возвратит функция moda() при передаче следующих значений аргументов:

In [26]:
moda(-10, 3)

2

### Анонимная функция суммирования значений

In [153]:
(lambda x, y: x + y)('Hello ', 'World!')

'Hello World!'

### Анонимная функция, суммирующая неопределенное количество аргументов

In [28]:
(lambda *args: sum(args))(10, 10, 3)

23

### Лексическое замыкание с использованием карринга

In [4]:
def sum2pow(a, b):
    def add(a, b):
        return a + b
    return add(a**2, b**2)

In [30]:
def sum2pow(a):
    def add(b):
        return a**2 + b**2
    return add

### Переменная функция

In [6]:
var = sum2pow(2, 4)

In [9]:
var

20

### Перепишем переменную с использованием анонимной функции

In [33]:
def sum2pow(a):
    return lambda b : a**2 + b**2

In [34]:
var = sum2pow(2)

In [35]:
type(var)

function

In [36]:
var(4)

20

In [37]:
var(2)

8

### Передача параметров одновременно в обе функции

In [38]:
sum2pow(2)(4)

20

### Второе правило Zen of Python

In [39]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Захват переменной

In [154]:
x = 5

def f(y):
    return x + y

In [155]:
print(f(1))

6

In [156]:
print(f(4))

9

### Поменяем значение переменной

In [157]:
x = 7

In [158]:
print(f(4))

11

### Перепишем функцию, используя ключевое слово `lambda`

In [159]:
x = 5

f = lambda y: x + y

In [160]:
f(2)

7

### Что будет, если переписать функцию следующим образом

In [167]:
x = 5

def f(y):
    x = 4
    # x += 1
    return x + y

print(x)

5

In [168]:
f(4)

8

In [169]:
x

5

In [49]:
x = 5

def f(y, x):
    x += 1
    return x + y

In [50]:
f(4, x)

10

### Значение переменной не изменилось

In [51]:
x

5

### `global` - оператор, который позволяет использовать переменную из глобального пространства имен внутри локального пространства имен

In [170]:
def f(y):
    global  x
    x += 1
    return x + y

In [171]:
f(4)

10

### Значение самой переменной изменилось

In [172]:
x

6

In [173]:
f(4)

11

## Задача 1

Циклический сдвиг

 
Выполнить циклический сдвиг в списке целых чисел на указанное число шагов. Сдвиг также должен быть кольцевым, то есть элемент, вышедший за пределы списка, должен появляться с другого его конца.

Для решения этой задачи можно воспользоваться следующими методами списка:

append() - добавляет элемент в конец списка,
insert() - вставляет элемент по указанному индексу,
pop() - извлекает элемент с конца списка или, если был передан индекс, по индексу.

Пример:
```
nums = [4, 5, 6, 7, 8, 9, 0]
print(nums) => [4, 5, 6, 7, 8, 9, 0]
 
shift(nums, -2)
print(nums) => [6, 7, 8, 9, 0, 4, 5]
 
shift(nums, 3)
print(nums) => [8, 9, 0, 4, 5, 6, 7]
```

## Задача 2

Вычислить факториал, используя рекурсивные вызовы функции.

```
fact(3) => 6
fact(5) => 60
```